.wrapper2 {
    background-color: #fff3b0;
    padding: 1%;
  }

  /*Navigation Bar*/

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #9e2a2b;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #540b0e;
    }
  
    .navigationBarContainer ul {
      padding: 0px;
      margin: 0px;
      text-align: center;
      display:inline-block;
      vertical-align:top;
      width: 100%;
    }

    /*Maple Farm Header Image*/

    .mapleFarm {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 700px;
     height: 200px;
    }

    /* About Our Farm */
    .bodyStuff {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #e09f3e;
        color: rgb(0, 0, 0);
        padding: 1%; 
    }

    /*The Process*/

    .theProcessFacility {
        width: 300px;
        padding: 5px;
        display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /*facility photo underneath the process*/

    .facility {
        width: 300px;
        padding: 5px;
        display: block;
      margin-left: left;
      margin-right: 0;
    }